.dashboardContainer{
    width: 100vw;
    height: 100vh;
    background-color: #F7F3F5;

    header{
        width: 100%;
        height: 15vh;
        background-color: #D7B5AA;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            user-select: none;
            &:first-of-type{
                height: 10vh;
                width: 10vh;
                border-radius: 50px;
                position: absolute;
            }
            &:last-of-type{
                height: 4vh;
                width: 4vh;
                margin-right: 10vh;
                position: absolute;
                right: 0;
                color: white;
                filter: invert(1);
                &:hover{
                    cursor: pointer;
                }
            }
            
        }
    }
    .newPostButton{
        background-color: #408acf;
        height: 10vh;
        width: 10vh;
        padding: 2vh;
        margin-right: 10vh;
        margin-bottom: 2vh;
        position: absolute;
        right: 0;
        color: white;
        border: none;
        border-radius: 50px;
        filter: invert(1);
        bottom: 0;
        right: 0;
        &:hover{
            cursor: pointer;
        }
    }
    .postContainer{
        margin: auto;
        margin-top: 5vh;
        height: 75vh;
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;

        .votesContainer{
            width: fit-content;
            padding: 0;
        }
        div{
            width: 100%;
            padding: 0 1vh 0 1vh;
            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    cursor: pointer;
                    height: 2.5vh;
                    width: 2.5vh;
                    margin-right: 1vh;
                }
                h4{
                    cursor: pointer;
                    color: grey;
                }
            }
            p{
                margin-top: 1vh;
                margin-bottom: 1vh;
            }
            h3{
                font-size: small;
            }
            hr{
                color: grey;
                margin-top: 1vh;
                margin-bottom: 1vh;
            }
        }
    }
}
.newPostCover{
    display: none;
    position: absolute;
    top: 0;
    margin-top: 15vh;
    height: 85vh;
    width: 100vw;
    background-color: #F7F3F5;

    .newPostContainer{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70vw;

        input{
            border-radius: 1vh;
            border: 1px solid #D7B5AA;
            padding: 1vh;
            margin-bottom: 2vh;
        }
        div{
            display: flex;
            justify-content: space-between;

            button{
                padding: 1vh 5vh;
                border-radius: 1vh;
                cursor: pointer;
            
                &:first-of-type{
                    background-color: white;
                    border: #BF7530 solid;
                    color: #BF7530;

                    &:hover{
                        background-color: #BF7530;
                        border: #BF7530 solid;
                        color: white;
                    }
                }
                &:last-of-type{
                    background-color: #BF7530;
                    border: #BF7530 solid;
                    color: white;
                }
            }
        }
    }
}
.commentsCover{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    margin-top: 15vh;
    height: 85vh;
    width: 100vw;
    background-color: #F7F3F5;

    .commentsContainer{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 60vw;
        height: 70vh;
        margin: auto;
        margin-top: 10vh;
        img{
            cursor: pointer;
            margin-left: 5vh;
            height: 5vh;
            width: 5vh;
        }
        .commentsOverflow{
            height: 60vh;
            overflow-y: scroll;
        }
        form{
            width: 100%;
            height: 6vh;
            margin-top: 1vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            label{
                color: #BF7530;
                font-weight: bold;
                white-space: nowrap;
                width: max-content;
            }
            input{
                width: 100%;
                margin: 0 1vh 0 1vh;
                border: 1px solid grey;
                padding: 1vh;
                border-radius: 1vh;
            }
            button{
                border-radius: 1vh;
                height: 100%;
                padding: 1vh 5vh 1vh 5vh;
                color: white;
                background-color: #BF7530;
                border: none;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}